html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

:root{
  --slate-blue:#2a475e;
  --midnight-blue:#1b2838;
  --steam-black:#171a21;
  --light-grey:#D3D3D3;
  --epic-black:#2F2D2E;
  --white:	#FFFFFF;

  --primary: var(--steam-black);
  --secondary: var(--midnight-blue);

  --h1: 10rem;
  --h2: 5.063rem;
  --h3: 3.375rem;
  --h4: 2.25rem;
  --h5: 1.5rem;
}
.site{
  background-color:var(--primary);
  text-align: center;
  color:var(--slate-blue);
}
h1 {
  font-size: var(--h1);
}
body{
  background-color:var(--secondary);
}
#steam{
  --primary: var(--steam-black);
  --secondary: var(--midnight-blue);
}
#epicgames{
  --primary: var(--epic-black);
  --secondary: var(--white);
}
.game{
  display: block;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: 200px;
  height: 500px;
  text-align: center;
  background-color:var(--steam-black);
  color:var(--light-grey);
  font-size: 3rem;
}
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}