@import url('variables.css');

html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

.site {
  background-color: var(--primary);
  text-align: center;
  color: var(--slate-blue);
}

h1 {
  font-size: var(--h1);
}

body {
  background-color: var(--secondary);
}

/* Steam Theme */
.steam {
  --primary: var(--steam-black);
  --secondary: var(--midnight-blue);
}

/* Epic Games Theme */
.epicgames {
  --primary: var(--epic-black);
  --secondary: var(--white);
}

.epicgames .site {
  color: var(--white); /* Set marketplace text to white in Epic Games theme */
}

.epicgames .card {
  background-color: var(--white); /* Set card background to white */
  color: var(--epic-black); /* Set card text to black */
}


.steam .card {
  background-color: var(--steam-black); /* Set card background to black in Steam theme */
  color: var(--white); /* Set card text to light grey */
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.card {
  display: block;
  border: 1px solid #ccc;
  padding: 100px;
  margin: 10px;
  width: 400px;
  text-align: center;
  font-size: 4rem;
}

.card:hover {
  transform: scale(1.1);
  transition: 0.4s ease-in-out;
}

.btn {
  padding: 1rem 2rem;
  margin: 2rem;
  font-size: 1.5rem;
}

.filter-buttons button {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
}
