@import url(variables.css);
html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
.site{
  background-color:var(--primary);
  text-align: center;
  color:var(--slate-blue);
}
h1 {
  font-size: var(--h1);
}
body{
  background-color:var(--secondary);
}
#steam{
  --primary: var(--steam-black);
  --secondary: var(--midnight-blue);
}
#epicgames{
  --primary: var(--epic-black);
  --secondary: var(--white);
}
.game{
  display: block;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: 35rem;
  height: 50rem;
  text-align: center;
  background-color:var(--steam-black);
  color:var(--light-grey);
  font-size: 3rem;
}
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}
.game:hover{
  transform: scale(1.1); /* incase any new images don't have hover effects, otherwise id overrides*/
  transition: .4s ease-in-out;
}
.btn{
  padding: 3rem;
  margin: 2rem;
  font-size: 15px;
}
#marketplace{
  background-color:var(--primary);
}